/* * { */
    /* margin: 1px; */
    /* padding: 1px; */
    /* box-sizing: border-box; */
    /* font-family: "Poppins", sans-serif; */
/* } */

/* Map CSS */
#chatgpt-map {
  /* 
  The leaflet map is a canvas object.
  Canvas allows you to draw shapes and circles and lines etc.
  By default canvas does not have a height even if you draw
  stuff inside, so that's why you must give it explict height.
  */
  height: 50vh;
}

/* ChatGPT CSS */
.header {
  background-image: linear-gradient(to top, #95b2ec 0%, #3c90ba 100%);
  /* background-color: #000; */
  color: #fff;
  padding: 1em;
  position: sticky;
  text-align: center;
  top: 0;
  z-index: 10;
}

.header_menu {
  column-gap: 1em;
  display:  flex;
  justify-content: center;
}

.header_menu-link {
  color: #a8d6f7;
}

.menulist {
  margin: 0;
  list-style: none;
  padding: 0;
}



.parent {
  /* flex container of size auto (height) x 100vw (width) */
  display: flex;
  height: auto;
  width: 100%;
  /* flex-direction: column; */
  flex-direction: row;
  /* background-color: white; */
  /* font-size: 1.25vw; */
}

.child {
  /* each flex item of 50% (width) */
  /* background-color: white; */
  color: black;
  border: 1px solid black;
  flex-basis: 50%; 
}

#chatgpt-results {
    /* width: 100%; */
    /* height: 300px; */
    /* width: 35%; */
    height: auto;
    padding: 5px;
    /* border: 5px solid grey; */
    margin: 5px;
    /* -moz-box-sizing: border-box; */
    /* -webkit-box-sizing: border-box; */
    /* box-sizing: border-box; */
    /* text-align: left; */
}

#distanceCalBtn{
  height: 60px;
  width: 80px;
  /* font-family: 'Montserrat', sans-serif; */
  /* font-size: 9px; */
  text-align: center;
  text-justify: center;
  padding: 2px;
  border: 1px solid black;
  margin: 0px;
  word-wrap: break-word;
  line-height: 1;
  position: absolute;
  top: 780px;
  right: 35px;
  z-index: 1000;
}

#extension {
  visibility: hidden;
}