/* Importing Google font - Poppins */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"); */

/* Opening CSS */
@keyframes hideAfterDelay {
  0% {
    opacity: 1;
    visibility: visible;
    pointer-events: none;
  }

  50% {
      opacity: 1;
      visibility: visible;
      pointer-events: none;
    }

  70% {
      opacity: 1;
      visibility: visible;
      pointer-events: none;
  }

    100% {
    opacity: 0;
    pointer-events: none;
  }
}

.hideAfterDelay{

  height: 100%;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  animation: hideAfterDelay 3s linear forwards;
  z-index: 10000;
}

.landing{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.main-logo{
  /* width: 60%; */
  /* height: auto; */
  width: 351px;
  height: 351px;
}

.subtitle{
  /* font-family: 'Montserrat', sans-serif; */
  /* color: rgb(56, 55, 55); */
  /* font-weight: 800; */
  color: maroon;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
}


/* Map CSS */
#map {
    /* 
    The leaflet map is a canvas object.
    Canvas allows you to draw shapes and circles and lines etc.
    By default canvas does not have a height even if you draw
    stuff inside, so that's why you must give it explict height.
    */
    /* height: 90vh; */
    height:100%;
    /* width:65%; */
    width:65%;
    position:absolute;
    /* position: relative; */
}

#map1 {
  /* height: 89vh; */
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: top;
  padding: 0px;
  /* padding: 2px; */
  margin: 0px;
  border: 0;
  /* visibility: hidden;   */
}

/* #map-container { */
    /* position: relative; */
/* } */

/* .leaflet-verticalcenter { */
  /* position: absolute; */
  /* z-index: 1000; */
  /* pointer-events: none; */
  /* top: 50%; possible because the placeholder's parent is the map */
  /* transform: translateY(-50%); using the CSS3 Transform technique */
  /* padding-top: 10px; */
/* } */

/* .leaflet-verticalcenter .leaflet-control { */
  /* margin-bottom: 10px; */
/* } */

/* .leaflet-control-container { */
   /* position: absolute; right: 56px  */
/* }  */

.popup-container {
    /* position: relative; */
}

.popup-postal_code {

  color: maroon;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.popup-street_name {

  font-family: "Poppins", sans-serif;
}

#search-container-test {
    position: absolute;
    z-index: 500;
    /* LHS Search Results; */
    /* top: 150px; */
    /* left: 185px; */
    /* RHS Search Results */
    top: 150px;
    right: 5px;
    background-color: rgb(255 255 255 / 44%);
    line-height: 24px;
    padding: 5px;
    overflow-y: auto;
    max-height: 300px;
    visibility: hidden;
}

#settings-container {
  position: absolute;
  z-index: 500;
  /* LHS Search Results; */
  /* top: 150px; */
  /* left: 185px; */
  /* RHS Search Results */
  top: 50px;
  right: 5px;
  width: 380px;
  background-color: rgb(255 255 255 / 44%);
  padding: 5px;
}

#search-container {
  position: absolute;
  z-index: 500;
  top: 220px;
  right: 5px;
  width: 380px;
  background-color: rgb(255 255 255 / 44%);
  padding: 5px;
  overflow-y: auto;
}

.navbar{
    /* left: 85px; */
    /* left: 260px; */
    /* max-width: 100vw; */
    height: 50px;
    background-image: linear-gradient(to top, #95b2ec 0%, #3c90ba 100%);
}

.navbar-brand{
    background-position: center;
}

#result-header {  
    background-image: linear-gradient(-20deg, #0055cd 0%, #8dd1da 100%);
    text-align: center;
}

#results {
    height:100%;
    /* width:35%; */
    width:30%;
    position:absolute;
}

.result-listing {
  top: 220px;
  right: 5px;
  width: 600px;
}

.result-listing ul {
    margin:0;
    padding:0;
    list-style: none;
    /* overflow-x: scroll; */
    /* overflow-y: scroll; */
    scrollbar-width: none;
}

.result-listing h3 {
    letter-spacing:3px;
    font-family:verdana;
}

#search-results {


}

/* Sidebar CSS */

/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  /* max-height: 90vh; */
  background: #F0F4FF;
  overflow-x: hidden;
  overflow-y: hidden;
}

.sidebar {
  z-index: 1000;
  position: fixed;
  /* top: 0; */
  /* left: 0; */
  top: 50px;
  left: 0;
  /* height: 100%; */
  height: 100%;
  /* width: 85px; */
  width: 85px;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  background: #161a2d;
  /* padding: 25px 20px; */
  padding: 5px 5px;
  transition: all 0.4s ease;
}

.sidebar:hover {
  /* width: 260px; */
  width: 260px;
}

.sidebar .sidebar-header {
  display: flex;
  align-items: center;
}

.sidebar .sidebar-header img {
  /* width: 42px; */
  width: 60px;
  /* border-radius: 50%; */
  border-radius: 10%;
  left: 10px;
}

.sidebar .sidebar-header h2 {
  color: #fff;
  /* font-size: 1.25rem; */
  font-weight: 600;
  white-space: nowrap;
  /* margin-left: 23px; */
  margin-left: 23px;
  font-size: 15px;
}

.sidebar-links h4 {
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  /* margin: 10px 0; */
  margin: 5px 0;
  position: relative;
  font-size: 15px;
}

.sidebar-links h4 span {
  opacity: 0;
}

.sidebar:hover .sidebar-links h4 span {
  opacity: 1;
}

.sidebar-links .menu-separator {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  transform: scaleX(1);
  transform: translateY(-50%);
  background: #4f52ba;
  transform-origin: right;
  transition-delay: 0.2s;
}

.sidebar:hover .sidebar-links .menu-separator {
  transition-delay: 0s;
  transform: scaleX(0);
}

.sidebar-links {
  list-style: none;
  /* margin-top: 20px; */
  margin-top: 5px;
  /* height: 80%; */
  height: 80%;
  overflow-y: auto;
  scrollbar-width: none;
}

.sidebar-links::-webkit-scrollbar {
  display: none;
}

.sidebar-links li a {
  display: flex;
  align-items: center;
  /* gap: 0 20px; */
  gap: 0 20px;
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  /* padding: 15px 10px; */
  padding: 5px 5px;
  text-decoration: none;
  transition: 0.2s ease;
  font-size: 15px;
}

.sidebar-links li a:hover {
  color: #161a2d;
  background: #fff;
  border-radius: 4px;
}

.user-account {
  /* margin-top: auto; */
  margin-top: -80px;
  /* padding: 12px 10px; */
  padding: 5px 5px;
  /* margin-left: -10px; */
  margin-left: -5px;
}

.user-profile {
  display: flex;
  /* align-items: center; */
  align-items:center;
  color: #161a2d;
}

.user-profile img {
  /* width: 42px; */
  width: 60px;
  /* border-radius: 50%; */
  border-radius: 50%;
  border: 2px solid #fff;
}

.user-profile h3 {
  font-size: 1rem;
  font-weight: 600;
  /* font-size: 15px; */
}

.user-profile span {
  font-size: 0.775rem;
  font-weight: 600;
  /* font-size: 15px; */
}

.user-detail {
  margin-left: 23px;
  /* margin-left: 5px; */
  white-space: nowrap;
}

.sidebar:hover .user-account {
  background: #fff;
  border-radius: 4px;
}

#askChatGPTBtn {
  padding: 5px;
  margin: 5px;
}

#resetBtn {
  padding: 5px;
  margin: 5px;
}

#locateBtn {
  padding: 5px;
  margin: 5px;
}

/* #searchByKeyword { */
  /* padding: 0px; */
  /* margin: 0px; */
/* } */

#searchByKeywordBtn {
  padding: 5px;
  margin: 5px;
}

/* #searchByPostalCode { */
  /* padding: 0px; */
  /* margin: 0px; */
/* } */

#searchByPostalCodeBtn {
  padding: 5px;
  margin: 5px;
}

