/* Importing Google font - Poppins */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"); */

/* bootstrap overwrites */
.bg-body-tertiary {
  font-variant: small-caps !important; /* overrides specificity by adding "!important" to the end of the declaration */
}

.nav.navbar-nav.navbar-right li a {
  color: blue !important;
}

.nav-link {
  color: blue !important;
}

#sgFinder {
  color: black;
}

/* Map CSS */
#map {
  /* 
    The leaflet map is a canvas object.
    Canvas allows you to draw shapes and circles and lines etc.
    By default canvas does not have a height even if you draw
    stuff inside, so that's why you must give it explict height.
    */
  height: 93vh;
  /* height:100%; */
  /* width:65%; */
  /* width:100%; */
  /* position:absolute; */
  /* position: relative; */
}

#map-container {
  position: relative;
  /* width: 100%; */
}

/* This is for every leaflet-map controls */
/* .leaflet-control-container { */
/* position: absolute; */
/* top: 50px; */
/* left: 15px; */
/* top: 80%; */
/* left: 300px; */
/* }  */



/* this work */
.leaflet-control-zoom {
  position: fixed;
  top: 60px;
  left: 5px;
}

/* .leaflet-control-zoom { */
  /* position: absolute; */
  /* top: 30vh; */
  /* left: 1vw; */
/* } */

/* this wont work */
/* .leaflet-control-scale { */
/* position: absolute; */
/* top: 200px; */
/* left: 155px; */
/* } */

/* this work */
.leaflet-bar-part.leaflet-bar-part-single {
  position: fixed;
  top: 85px;
  left: 55px;
}

/* .leaflet-bar-part.leaflet-bar-part-single { */
  /* position: absolute; */
  /* top: 50vh; */
  /* left: 1vw; */
/* } */

/* this work */
/* position must be fixed for expanded list, however top needs to change to 70px */
/* if position is absolute the expanded list is restrictive, however top is same as 20px */
.leaflet-control-layers {
  position: fixed;
  top: 60px;
  left: 105px;
}

/* .leaflet-control-layers { */
  /* position: absolute; */
  /* top: 15vh; */
  /* left: 1vw; */
/* } */

/* this wont work */
/* .leaflet-control-attribution { */
/* position: absolute; */
/* top: 200px; */
/* left: 255px; */
/* } */


/* default positioning is scale control above attribution control */
/* this shows scale control inline with attribution control (and change from left to right, that is, left scale, right attribution) */
.leaflet-control-container .leaflet-bottom.leaflet-right>* {
  margin: 0;
  float: left;
  direction: ltr;
  clear: none;
}

/* default positioning is scale control above attribution control */
/* this shows scale control inline with attribution control (and normal from right to left, that is, left attribution, right scale) */
/* .leaflet-control-scale { margin-bottom: 0 !important; } */
/* .leaflet-control-attribution { clear: none !important; } */

/* This is for leaftlet-map zoom control only -> centered */
/* .leaflet-top { */
/* bottom: 0; */
/* } */
/* .leaflet-top .leaflet-control-zoom { */
/* top:50%; */
/* transform: translateY(-50%); */
/* margin-top: 0; */
/* } */

/* Example CSS to style the Zoom Control */
.leaflet-control-zoom {
  /* Styles for the container of the Zoom Control */
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 5px;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
  /* Styles for the zoom in and zoom out buttons */
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

/* .leaflet-control-zoom-slider { */
  /* Styles for the zoom slider (if applicable) */
  /* Add your styles here */
/* } */


.popup-postal_code {
  color: maroon;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.popup-street_name {
  font-family: "Poppins", sans-serif;
}

#sidebar-search-container {
  position: absolute;
  z-index: 500;
  top: 150px;
  right: 5px;
  background-color: rgb(255 255 255 / 44%);
  line-height: 24px;
  padding: 5px;
  overflow-y: auto;
  max-height: 300px;
  display: none;
}

#sidebar-search-results {
  /* top: 220px; */
  /* right: 5px; */
  /* width: 200px; */
  width: 300px;
  display: block;
}

#settings-container {
  z-index: 500;
  /* position: absolute; */
  /* top: 50px; */
  /* right: 5px; */
  position: fixed;
  top: 52px;
  right: 5px;
  width: 380px;
  background-color: rgb(255 255 255 / 44%);
  padding: 5px;
}

#search-container {
  z-index: 500;
  /* position: absolute; */
  /* top: 160px; */
  /* right: 5px; */
  position: fixed;
  top: 220px;
  right: 5px;
  width: 380px;
  background-color: rgb(255 255 255 / 44%);
  padding: 5px;
  overflow-y: auto;
  line-height: 24px;
  max-height: 450px;
}

.navbar {
  /* left: 85px; */
  /* left: 260px; */
  /* max-width: 100vw; */
  height: 50px;
  background-image: linear-gradient(to top, #95b2ec 0%, #3c90ba 100%);
}

.navbar-brand {
  background-position: center;
}

#result-header {
  background-image: linear-gradient(-20deg, #0055cd 0%, #8dd1da 100%);
  text-align: center;
}

.result-listing {
  top: 220px;
  right: 5px;
  width: 600px;
}

/* Sidebar CSS */

/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  /* max-height: 90vh; */
  width: auto;
  background: #F0F4FF;
  /* overflow-x: hidden; */
  /* overflow-y: hidden; */
}

.sidebar {
  z-index: 1000;
  position: fixed;
  /* top: 0; */
  /* left: 0; */
  top: 50px;
  left: 0;
  /* height: 100%; */
  height: 100%;
  /* width: 85px; */
  width: 85px;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  background: #161a2d;
  /* padding: 25px 20px; */
  padding: 5px 5px;
  transition: all 0.4s ease;
  visibility: hidden;
}

.sidebar:hover {
  /* width: 260px; */
  width: 260px;
}

.sidebar .sidebar-header {
  display: flex;
  align-items: center;
}

.sidebar .sidebar-header img {
  /* width: 42px; */
  width: 60px;
  /* border-radius: 50%; */
  border-radius: 10%;
  left: 10px;
}

.sidebar .sidebar-header h2 {
  color: #fff;
  /* font-size: 1.25rem; */
  font-weight: 600;
  white-space: nowrap;
  /* margin-left: 23px; */
  margin-left: 23px;
  font-size: 15px;
}

.sidebar-links h4 {
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  /* margin: 10px 0; */
  margin: 5px 0;
  position: relative;
  font-size: 15px;
}

.sidebar-links h4 span {
  opacity: 0;
}

.sidebar:hover .sidebar-links h4 span {
  opacity: 1;
}

.sidebar-links .menu-separator {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  transform: scaleX(1);
  transform: translateY(-50%);
  background: #4f52ba;
  transform-origin: right;
  transition-delay: 0.2s;
}

.sidebar:hover .sidebar-links .menu-separator {
  transition-delay: 0s;
  transform: scaleX(0);
}

.sidebar-links {
  list-style: none;
  /* margin-top: 20px; */
  margin-top: 5px;
  /* height: 80%; */
  height: 80%;
  overflow-y: auto;
  scrollbar-width: none;
}

.sidebar-links::-webkit-scrollbar {
  display: none;
}

.sidebar-links li a {
  display: flex;
  align-items: center;
  /* gap: 0 20px; */
  gap: 0 20px;
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  /* padding: 15px 10px; */
  padding: 5px 5px;
  text-decoration: none;
  transition: 0.2s ease;
  font-size: 15px;
}

.sidebar-links li a:hover {
  color: #161a2d;
  background: #fff;
  border-radius: 4px;
}

.user-account {
  /* margin-top: auto; */
  margin-top: -80px;
  /* padding: 12px 10px; */
  padding: 5px 5px;
  /* margin-left: -10px; */
  margin-left: -5px;
}

.user-profile {
  display: flex;
  /* align-items: center; */
  align-items: center;
  color: #161a2d;
}

.user-profile img {
  /* width: 42px; */
  width: 60px;
  /* border-radius: 50%; */
  border-radius: 50%;
  border: 2px solid #fff;
}

.user-profile h3 {
  font-size: 1rem;
  font-weight: 600;
  /* font-size: 15px; */
}

.user-profile span {
  font-size: 0.775rem;
  font-weight: 600;
  /* font-size: 15px; */
}

.user-detail {
  margin-left: 23px;
  /* margin-left: 5px; */
  white-space: nowrap;
}

.sidebar:hover .user-account {
  background: #fff;
  border-radius: 4px;
}

.chartBtnClass {
  padding: 5px;
  margin: 5px;
}

.askChatGPTBtnClass {
  padding: 5px;
  margin: 5px;
}

.resetBtnClass {
  padding: 5px;
  margin: 5px;
}

/* .locateBtnClass { */
  /* padding: 5px; */
  /* margin: 5px; */
/* } */

#chartBtn {
  padding: 5px;
  margin: 5px;
}

#askChatGPTBtn {
  padding: 5px;
  margin: 5px;
}

#resetBtn {
  padding: 5px;
  margin: 5px;
}

#locateBtn {
  padding: 5px;
  margin: 5px;
}

/* #searchByKeyword { */
/* padding: 0px; */
/* margin: 0px; */
/* } */

#searchByKeywordBtn {
  padding: 5px;
  margin: 5px;
}

/* #searchByPostalCode { */
/* padding: 0px; */
/* margin: 0px; */
/* } */

#searchByPostalCodeBtn {
  padding: 5px;
  margin: 5px;
}

#sidebarSearchBtn {
  /* width:80px; */
  /* height:20px; */
  padding: 2px;
  margin: 2px;
}

#sidebarToggleBtn {
  /* width:80px; */
  /* height:20px; */
  padding: 2px;
  margin: 2px;
}

/* #sidebarChartBtn { */
  /* padding: 5px; */
  /* margin: 5px; */
/* } */

/* #sidebarAskChatGPTBtn { */
  /* padding: 5px; */
  /* margin: 5px; */
/* } */

/* #sidebarResetBtn { */
  /* padding: 5px; */
  /* margin: 5px; */
/* } */

#sidebarLocateBtn {
  padding: 5px;
  margin: 5px;
}